

/* chat */
chat.center .chatCont,
chat.center .profile_div {
  left: 0;
  right: 0;
  margin: 0 auto;
}

chat.left .chatCont,
chat.left .profile_div {
  left: 0;
}

chat .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

chat .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 0 0 transparent,none;
}

chat .chatCont {
  position: fixed;
  width: 400px;
  height: 400px !important;
  border: 1px solid #dcdcdc;
  bottom: 65px;
  right: 0;
  /* background: #efe7dd url(../img/bg2.png) repeat; */
  background-color: rgba(233, 230, 230, 0.924);
  border-top-left-radius: 3px;
  z-index: 10000;
display: none;
}

chat .close {
  position: absolute;
  right: 5px;
  margin-top: -60px;
  color: #868686;
  font-size: 18px;
  cursor: pointer;
}

chat .bot_profile {
  position: absolute;
  right: 0;
  margin-top: -45px;
  text-align: center;
  width: 400px;
  display: none;
  z-index: 1000;
}

chat .bot_p_img {
  width: 80px;
  border-radius: 50%;
  width: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
}

chat .chatForm {
  position: absolute;
  bottom: -65px;
	right: 0;
	margin-bottom: 0;
	width: 400px;
  display: none;
}

chat .bot-txt,
chat .bot-txt:focus {
  box-shadow: none;
  border-radius: 0;
  height: 66px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

chat .resultDiv .botResult {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  float: left;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-left-radius: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  position: relative;
}

chat .resultDiv .botResult:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #fff;
  left: -15px;
  margin-top: -12px;
}

chat .resultDiv .userEnteredText {
  background: #2884e0;
  float: right;
  color: #ffffff;
  border-radius: 3px;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  width: 400px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-right-radius: 0;
  position: relative;
  left: -6px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  word-wrap: break-word;
}

chat .resultDiv .userEnteredText:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #2884e0;
  position: absolute;
  right: -15px;
  margin-top: -12px;
}

chat .profile_div {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 240px;
  cursor: pointer;
  z-index: 1000;
}

chat .img-profile {
  width: 65px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
  background: white;
  border-radius: 50px;
}

chat .col-hgt {
  height: 100px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 10px;
}

chat .chat-txt {
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 15px;
  border-radius: 50px;
}

/* Spinner start */
chat .spinner {
  background: #2884e0;
  width: 70px;
  text-align: center;
  display: none;
  border-radius: 4px;
  position: relative;
  top: -7px;
  left: 19px;
  padding: 7px 10px;
  border-top-left-radius: 0;
}

chat .spinner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #2884e0;
  left: -15px;
  margin-top: -7px;
}

chat .spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

chat .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

chat .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Spinner End */


/* Suggestions */
chat .suggestion {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  float: left;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
  margin-left: 5px;
  border-top-left-radius: 0;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

chat .suggestion:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #fff;
  left: -15px;
  margin-top: -12px;
}

chat .suggestion .sugg-options {
  display: block;
  background: #2884e0;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
}

chat .suggestion .sugg-title {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

chat .suggestion span:last-child {
  margin-bottom: 0;
}
/* Suggestions end */

.resultDiv {
  padding: 35px 20px 30px 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}


@media screen and (max-width: 500px) {
  chat .resultDiv .userEnteredText,
  chat .resultDiv .botResult,
  chat .suggestion {
    width: 90%;
    margin-bottom: 20px;
  }
  chat .chatCont,
  chat .chatForm {
    width: 100%;
  }
  chat .chatCont {
    height: 70% !important;
  }
}
/* chat end */
